#book-page {
    /*border: 1px dashed black;*/
    /*padding: 20px;*/


    min-width: 577px !important;
}

#book-page-image {
    /*border: 1px dashed black;*/
    float: left;
    /*width: 25%;*/
    padding: 15px;

    min-width: 195px;

    margin-right: 7px;
}

#book-page-image img {
   /* width: 100%;*/
}

#book-page-details {
    /*border: 1px dashed black;*/
    float:left;
   /* width: 45%;*/
    position: relative;
    top: 15px;

    margin-right: 42px;
    margin-bottom: 15px;

   /* background-color: lightskyblue;*/
    /*max-width: 65%;
    width:48%;*/

}

#book-page-details span.book-page-details {

    /*margin-right: 15px;*/

    min-width: 120px;
    display: block;

    float: left;

}
#book-page-details span.book-page-details-title {
    display: block;
    float: left;

}

#add-to-cart span.book-page-details {
    min-width: 57px;
    display: block;

    float: left;
}

#book-page-title,
#book-page-author,
#book-page-year,
#book-page-rate,
#book-page-publ,
#book-page-nopg {
    /*border: 1px dashed black;*/
    margin-bottom: 9px;
}

#book-page-title {
    height: 19px;
    overflow: hidden;
}

#book-page-rate {
    min-height: 25px;

    margin-top: 10px;
}

/* ------------------------------------------------------------------------------------------------------------------ */

.rate-inner,
.comment-rate-inner {
    overflow: hidden;
    width: 0;

    position: absolute;
    top: 0;
    left: 0;

    /*transition: width 0.2s ease-in-out;*/
}

span#book-price {
    margin-right: 4px;
}

/*..rate-inner::before {
    content: "\f005 \f005 \f005 \f005 \f005";
    font-family: FontAwesome;
    font-size: 120%;
    color: rgba(248, 209, 11, 0.96);
}*/

.rate-inner-base {
    overflow: hidden;
        /* background: linear-gradient(90deg, #f8d10b, #c3c3c3);*/
        /* background-size: 500% 100%;*/
    transition: background-position 0.4s ease-out;
    /*position: fixed;*/
    max-width: 100%;
    text-align: right;
    opacity: .3;
        /*transform: rotate(180deg);*/
    transform: scaleX(-1);

    /*left: 0;
    transition: left 0.2s ease-in-out;*/
}

.comment-rate-inner-base {
    position: relative;
    left: 0;

    overflow: hidden;
    transform: scaleX(-1);
}

.rate-inner-base::before {
    font-size: 120%;
}

.rate-inner-base::before,
.comment-rate-inner-base::before {

    content: "\f005 \f005 \f005 \f005 \f005";
    font-family: FontAwesome;

    color: silver; /* set the color of the stars to silver/gray */
    -webkit-background-clip: text;
    /*background-size: 500% 100%;*/
}

.rate-inner::before {
    content: "\f005 \f005 \f005 \f005 \f005";
    font-family: FontAwesome;
    font-size: 120%;
    color: rgba(248, 209, 11, 0.96);
}

.rating-num {
    display: block;
    float: left;
    padding: 0 12px 0 12px;
    line-height: 22px;
}

/*#rating-num {
    margin-left: 12px;
}*/

#rate-container {
    float: left;
    position: relative;
}

/* circle rates --> ------------------------------------------------------------------------------------------------- */

#book-page-rate-circle {
    height: 200px;
    width: 200px;
    position: relative;
    margin: auto;
}

.rating-circle {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to right, gold 50%, gray 50%);
    transform: rotate(-90deg);
    transform-origin: center;
}

.rating-circle::before {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to right, gray 50%, transparent 50%);
    transform: rotate(30deg);
    transform-origin: center;
}

/* circle rates --> ------------------------------------------------------------------------------------------------- */
#rating-circle {
stroke-dasharray: 0, 62.83185307179586;  /* Set the stroke-dasharray to the circumference of the circle */
                               /* Ta właściwość definiuje wzór kresek i przerw używanych do tworzenia linii przerywanej lub kropkowanej  - "5,2"*/
/*stroke-dashoffset: 62.83185307179586;*/  /* Initially hide the filled (yelow) portion */
                       /*  Ta właściwość określa pozycję początkową wzoru kreski - "Przesunięcie", zmieniając ją, zmieniamy początkową pozycję wzoru kreski; */

    transition: stroke-dasharray 0.4s ease;

    /*transform: rotate(90deg);*/ /* Rotate the circle by -90 degrees to start the fill from the top */

    width: 50px;
    height: 50px;
    position: relative;
    overflow: auto;
    /* margin-top: 25px;*/
}

#circle-plot svg {
    width: 750px;
    height: 750px;
    position: relative;
}

#circle-plot {
    /*border: 1px dashed black;*/
    overflow: hidden;
    width: 225px;
    height: 225px;
    float: left;
}

#book-rating-details {
    /*border: 1px dashed black;*/

    float: left;
    height: 232px;
    width: 225px;
    margin-top: 10px;
}

.book-rating-details {
    /*border: 1px dashed black;*/

    float: left;
    width: 225px;
    height: 45px;
    text-align: center;
    line-height: 45px;
}

.rate {
    /*border: 1px dashed black;*/
    float: left;
    width: 25px;

    position: relative;
    top: -2.5px;

    margin-right: 10px;


}

.line {
    /*border: 1px dashed black;*/

    float: left;
    width: 135px;
    height: 45px;
}

.no-rates {
    /*border: 1px dashed #ff0000;*/
    float: left;
    width: 25px;

    position: relative;
    top: -2.5px;
}

.rated, .unrated {
    /*float: left;*/
    /*border: 1px solid red;*/

    border-radius: 10px;

    position: relative;
    top: 16px;
    /*height: 5px;*/
    height: 10px;
    background-color: #FFD700FF;

    transition: width 0.4s ease-in-out;
}

.rated {
    z-index: 10;
    width: 0;
}

.unrated {
    width: 125px;
    background-color: #bebebe;
    position: relative;
    top: 6px;
    z-index: 1;
}

/*.book-rating-line {
    border: 1px dashed black;
    float: left;
    width: 55px;
    height: 25px;
    text-align: center;
    line-height: 45px;
}*/

/* dodawanie recenzji -->  ------------------------------------------------------------------------------------------ */

#add-review {
    /*width: 100%;*/
    margin: 0 30px 15px 30px;
    /*border: 1px solid black;*/
    /*border-radius: 15px;*/
    padding: 0 0 15px 0;
    /*overflow: auto;*/

    border-top: 1px ridge rgba(166, 166, 166, 0.38);
    border-bottom: 1px ridge rgba(166, 166, 166, 0.38);
}

div#tab-3 div#add-review hr {
    background-color: rgba(166, 166, 166, 0.38);

    border: none;
    height: 1px;

    margin: 5px 0 15px 0;


}

#textarea-comment {
    width: 425px;
    height: 145px;
    resize: none;
    margin: 10px 0 10px 0;

    border: 1px solid #4d4d4d70;
    outline: none ;

    padding: 5px 5px;

    background-color: #fafafa;

    border-radius: 5px;
}

#textarea-label {
    cursor: pointer;
}

#add-rate {
    /*border: 1px dashed black;*/
    /*height: 250px;*/
    overflow: auto;
    display: inline-block;

    position: relative;
    left: -4px;
}

.add-rate-outer {
    /* border: 1px dashed black;*/
}

.add-rate-inner {
    /*border: 1px dashed black;*/
}

/*.rate-outer {

}*/

span.star {
    /* border: 1px dashed black;*/

    display: block;
    float: left;
    text-align: center;
    width: 45px;
    cursor: pointer;

    user-select: none;
}

span.star::before {
    content: "\f005";
    font-family: FontAwesome;
    /*font-size: 120%;*/
    color: silver; /* set the color of the stars to silver/gray */
    -webkit-background-clip: text;
    /*background-size: 500% 100%;*/
}

/*span.star:hover::before {
    content: "\f005";
    font-family: FontAwesome;
    !*font-size: 120%;*!
    !*color: silver; !* set the color of the stars to silver/gray *!*!
    -webkit-background-clip: text;
    color: rgba(248, 209, 11, 0.96);
}*/

span.star.gold::before {
    content: "\f005";
    font-family: FontAwesome;
    /*font-size: 120%;*/
    /*color: silver; !* set the color of the stars to silver/gray *!*/
    -webkit-background-clip: text;
    color: rgba(248, 209, 11, 0.96);
}

#error-message {
    margin: 5px 0 5px 0;
}

#add-rate-button {
    position: relative;
    top: -5px;

    /* margin-left: 5px; */
    /* width: 200px; */
    min-width: 100px;
    /* width: calc(100% * 0.218); */
    /*width: 235px;*/
    /* background-color: rgb(255, 255, 255); */
    color: #707070;
    border: 1px ridge #b7b7b7;
    border-radius: 5px;
    /* font-size: 20px; */
    font-weight: bold;
    padding: 4px 4px 5px 4px;
    box-sizing: border-box;
    outline: none;
    /* margin-top: 10px; */
    margin-left: 12px;
}

#add-rate-button:hover {
    cursor: pointer;
    -webkit-box-shadow: inset 0px 0px 13px -10px rgba(66, 68, 90, 1);
    -moz-box-shadow: inset 0px 0px 13px -10px rgba(66, 68, 90, 1);
    box-shadow: inset 0px 0px 13px -10px rgba(66, 68, 90, 1);
}


/*.rate-inner::before {
    content: "\f005 \f005 \f005 \f005 \f005";
    font-family: FontAwesome;
    font-size: 120%;
    color: rgba(248, 209, 11, 0.96);
}*/

.stars {
    display: inline-block;
}

.stars input[type="radio"] {
    display: none;
}

.stars label {
    /*font-size: 50px;*/
    color: grey;
    cursor: pointer;
}

.stars label:before {
    content: "\2605";
}

.stars input[type="radio"]:checked + label {
    color: #FFD700FF;
}

/* ------------------------------------------------------------------------------------------------------------------ */

.comment-rate {
    float: left;
    position: relative;
}

.comment-date {
    float: left;
    margin-right: 10px;
    line-height: 20px;
}

.comment-rate > span {
    visibility: hidden;
    width: 0 !important;
    height: 0 !important;
    display: none;
}

.comment-rate-inner {
    overflow: hidden;
    /*width: 100%;*/
    /* position: absolute;
     top: 0;
     left: 0;*/
    /*display: inline-block;*/
}

.comment-rate-inner {
    float: left;

    z-index: 10;
}

.comment-rate-inner::before {
    content: "\f005 \f005 \f005 \f005 \f005";
    font-family: FontAwesome;
    color: rgba(248, 209, 11, 0.96);
}

.comment-author {
    float: left;
    margin-right: 10px;
    line-height: 20px;
}

.comment-content {
    width: 100%;
    text-align: justify;
    padding: 15px 0 15px 0;
}
/* ------------------------------------------------------------------------------------------------------------------ */
#book-comments {
    /*border: 1px dashed black;*/
    padding: 0 30px 15px 30px;
    margin-top: 20px;

}

div.tab-panel {
    border-bottom-left-radius: 12px !important;
    border-bottom-right-radius: 12px !important;
    border-top-right-radius: 12px !important;
}

section.comment {
    /*border: 1px dashed black;*/
    border-radius: 10px;
    min-height: 45px;
    margin: 15px 0 15px 0;
    /*overflow: auto;*/
    padding: 10px;
    background-color: #d7d7d7;
}
/* sekcja dodaj-do-koszyka --> -------------------------------------------------------------------------------------- */

#add-to-cart {
    /*border: 1px dashed black;*/

    float: left;
    position: relative;
    top: 15px;

}

#add-to-cart form {
    margin-top: 15px;
}


#add-to-cart form label:hover {
    cursor:pointer;
}

input[id^="book-amount"] { /* ta zasada jest już w main.css */
    width: 45px;
    text-align: center;
    margin-right: 10px;
}

#book-status {
    margin-top: 35px;
    margin-bottom: 7px;
}

/* --------------------------------------------------------------------------- */

div#add-to-cart form input[name="book-amount"] {
    min-width: 55px;
    /*width: calc(100% * 0.75);*/
    /*background-color: rgb(255, 255, 255);*/
    color: #707070;
    border: 1px ridge #b7b7b7;
    border-radius: 5px;
    /*font-size: 20px;*/
    font-weight: bold;
    padding: 2px;
    box-sizing: border-box;
    outline: none;
    /*margin-top: 10px;*/
    margin-left: 10px;



    /*transition: all 0.125s ease-in-out;*/
}



div#add-to-cart form input[name="book-amount"]:focus,
div#add-to-cart form input[name="book-amount"]:hover {
    /*    -webkit-box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
        -moz-box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
        box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);*/

    /*    border: 1px ridge #a2bbcb;
        background-color: #f1f6ff;
        color: #464646;*/
    cursor: pointer;

    -webkit-box-shadow: inset 0px 0px 13px -10px rgba(66, 68, 90, 1);
    -moz-box-shadow: inset 0px 0px 13px -10px rgba(66, 68, 90, 1);
    box-shadow: inset 0px 0px 13px -10px rgba(66, 68, 90, 1);
}

div#add-to-cart form button[type="button"] {
    /* margin-left: 5px; */
    /* width: 200px; */
    min-width: 25px;
    /* width: calc(100% * 0.218); */
    /*width: 235px;*/
    /* background-color: rgb(255, 255, 255); */
    color: #707070;
    border: 1px ridge #b7b7b7;
    border-radius: 5px;
    /* font-size: 20px; */
    font-weight: bold;
    padding: 2px;
    box-sizing: border-box;

    /* margin-top: 10px; */
    margin-right: 2px;
}

div#add-to-cart form button[type="button"]:hover {
    cursor: pointer;
    -webkit-box-shadow: inset 0px 0px 13px -10px rgba(66, 68, 90, 1);
    -moz-box-shadow: inset 0px 0px 13px -10px rgba(66, 68, 90, 1);
    box-shadow: inset 0px 0px 13px -10px rgba(66, 68, 90, 1);
}

div#add-to-cart form button[type="button"]:nth-of-type(2) span {
    position: relative;
    top: -0.5px;
}