/*@import url(http://fonts.googleapis.com/css?family=Jacques+Francois);
@import url(http://fonts.googleapis.com/css?family=Quattrocento+Sans);*/

/*body {
    background-color: #979797;
    color: #fff;
    margin: 0;
    padding: 0;
}*/

.page {
    max-width: 640px;
    margin: 0 auto 30px auto;
}

.panel {
    background-color: #fff;
    color: #666;
    box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.2);
    overflow: auto;
}

/*button {
    border: none;
}*/

/********** LOGO **********/
/*h1 {
    text-align: center;
    width: 200px;
    height: 100px;
    margin: 40px auto 40px auto;
   !* background-image: url('../img/logo.png');*!
    background-repeat: no-repeat;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}*/

/********** TYPOGRAPHY **********/
/*body, button {
    font-family: 'Jacques Francois', serif;
}*/

/*h2, h3 {
    font-weight: normal;
    margin: 0;
}*/

/*h2 {
    color: #666;
    text-transform: uppercase;
    letter-spacing: 0.14em;
    font-size: 230%;
    line-height: 1em;
    padding: 20px 0 0 20px;
}*/

.tab-list > li > a > h3 {
    /*font-size: 90%;*/
    /*letter-spacing: 0.2em;*/
    margin: 0;
}

section.book-page {
    margin-top: 25px;
    /*padding: 20px;*/
    /*width: 450px;*/
}


.book-page .book-tabs .tab-panel p {
    /*font-family: 'Quattrocento Sans', sans-serif;*/
    line-height: 1.4em;
}

.book-page .book-tabs ul > li > a {
    text-decoration: none;
}

div#book-page div#book-page-image img {
    -webkit-box-shadow: 0px 0px 4px -1px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 0px 4px -1px rgba(66, 68, 90, 1);
    box-shadow: 0px 0px 4px -1px rgba(66, 68, 90, 1);
}

/*button {
    font-size: 90%;
    text-align: left;
    text-transform: uppercase;}*/

/*****************  No JS ***************/
/*#billboard {text-align: center;}*/
/*.js-warning {display: none;}*/

/*.no-js .js-warning {
    display: block;
    border: 3px solid #fff;
    text-align: center;
    background-color: #fff;
    color: #db5391;
    padding: 10px;
}*/
/* ------------------------------------------------------------------------------------------------------------------ */

span.book-details-tab {
    display: block;
    float: left;

    text-align: left ;
    padding-right: 10px;

    min-width: 135px;
}

div#tab-2 p {
    margin-left: 10px;

}

div#tab-2 p:first-child {
    margin-top: 10px;

}


div#tab-2 {
    padding: 15px 15px 20px 15px;
}


div#tab-1 {
    padding: 15px 20px 20px 20px;
}

div#tab-1 p:first-child {
    margin-top: 0;
}

div#tab-3 {
    padding-top: 5px;
}

/*div#tab-3 hr {
    background-color: rgba(166, 166, 166, 0.38);

    border: none;
    height: 1px;

    margin: 5px 0 0 0;

    position: relative;
    left: 30px;
}*/


/********** TABS **********/
.book-page .book-tabs ul.tab-list {
    margin: 0;
    padding: 0;
}

.book-page .book-tabs ul.tab-list li {
    display: inline-block;
    list-style-type: none;
    background-color: #303030;
    border-bottom: 3px solid #858585;
    /*font-family: 'Jacques Francois', serif;
    text-transform: uppercase;
    letter-spacing: 0.2em;*/
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.book-page .book-tabs ul.tab-list li a {
    color: #f2f2f2;
    display: block;
    padding: 3px 10px 3px 10px;
}

/********** HOVER STATES **********/
.book-page .book-tabs ul.tab-list li.active, .tab-list li.hover {
    background-color: #e5e5e5;
    border-bottom: 3px solid #e5e5e5;

    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.book-page .book-tabs ul.tab-list li.active a, .book-page .book-tabs ul.tab-list li a:hover {
    color: #666;
    background-color: #e5e5e5;

    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

/********** PANELS **********/
.book-page .book-tabs div.tab-panel {
    display: none;
    background-color: #e5e5e5;
    color: #666;
    min-height: 150px;
    /*overflow: auto;*/
}

.book-page .book-tabs div.tab-panel.active {
    display: block;
}

.book-page .book-tabs div.tab-panel p {
    margin: 12px 20px 0 0;
    padding: 0;
}
