
/*body {
    background-image: none;
    color: white !important;
}

body header * {
    color: white !important;
}*/

        /*#top-header {
            !*background-color: red;*!

            min-width: 1200px;
        }*/

        /*
        @media only screen and (min-width: 320px) and (max-width: 480px) and (resolution: 150dpi) {
            body {
                line-height: 1.4;
            }
        }
        */

/*#div-search, #div-logo, #div-cart {
    border: 1px dashed white;
}*/

/*
@media only screen and (max-width: 1000px) {

    !* dla szerokości < 1000px; *!

    body {
        background-color: red;
    }
    #top-header,
    #top-header-content,
    #header,
    #header-content,
    #advanced-search {
        width: 100%;

        min-width: 500px;
    }

    #div-search,
    #div-logo {
        min-width: 255px;
    }
}*/

/* ------------------------------------------------------------------------------------- */

* {
    box-sizing: border-box;
}

body {
    background-image: url("../assets/2_2.png");

    margin: 0;
    /*margin: 0;*/
    padding: 0;

    font-family: 'Lato', sans-serif;




    /*opacity: .75;*/

    --inv: #f1f1f1; /* top-header - zaloguj btn - hover animation */

    --def: #000000;


}
/* header ------------------------------------------------------------------------------ */

#n-header {
    border: 1px ridge rgba(166, 166, 166, 0.38); /* https://www.w3schools.com/cssref/playdemo.php?filename=playcss_border-style&preval=groove */

    width: 1375px;
    /*height: 255px;*/

        /*overflow: auto;*/

    overflow: hidden;


    margin: 0 auto 0 auto;

    padding: 25px 25px 25px 25px;

    box-sizing: border-box;


    border-top-left-radius: 20px;
    border-top-right-radius: 20px;


    background-color: #ffffff;

   /* -webkit-box-shadow: 0px 0px 26px -14px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 0px 26px -14px rgba(66, 68, 90, 1);
    box-shadow: 0px 0px 26px -14px rgba(66, 68, 90, 1);*/

    z-index: 1;
    position: relative;

}

@media only screen and (max-width: 1400px) {

    /* dla szerokości < 1000px; */

    /*body {
        background-color: red;
    }
    #top-header,
    #top-header-content,
    #header,
    #header-content,
    #advanced-search {
        width: 100%;

        min-width: 500px;
    }

    #div-search,
    #div-logo {
        min-width: 255px;
    }*/

    div#n-header,
    div#n-top-nav,
    div#n-top-nav-content,
    div#n-top-nav > div#n-top-nav-content > ol,
    #all-container,
    #container,
    footer,
    #footer
    {
        width: 100% !important;

        min-width: 500px;



    }

    div#n-top-nav > div#n-top-nav-content > ol > li {
       /* width: calc(100% * 1/6) !important;

        min-width: 115px;*/

        /*position: relative;*/


    }

    /*div#n-top-nav > div#n-top-nav-content > ol > li ul {

        position: fixed;

        top: 0px;
        left: 0px;

        z-index: 200;

    }*/



}


@media only screen and (max-width: 1400px) {

    .book {
        /* margin: 10px 118px 15px 118px !important;*/

        width: 22% !important;

        margin: 1% !important;
        padding: 1% !important;
    }

}

@media only screen and (max-width: 1250px) {

    /* "dodaj do koszyka" - button */


    .btn-link {
        /* margin: 10px 118px 15px 118px !important;*/

        font-size: 75%;

    }

}

@media only screen and (max-width: 1164px) {

    /* "dodaj do koszyka" - button */

    .btn-link {
        /* margin: 10px 118px 15px 118px !important;*/

        font-size: 70%;
       /* color: red !important;*/
        padding: 10px 10% 10px 10% !important;

    }

    .book-author {
        font-size: 90% !important;
    }

}




@media only screen and (max-width: 1020px) {

    .btn-link {
        font-size: 65% !important;
    }

}

@media only screen and (max-width: 1010px) {

    ul#ul-authors > li > label {
        font-size: 90% !important;
    }

}



@media only screen and (max-width: 950px) {

    .book {

        display: block !important;


       /* width: 22% !important;
        width: 22% !important;
        width: 22% !important;
        width: 22% !important;
        width: 22% !important;
        width: 22% !important;
        width: 22% !important;
        width: 22% !important;
        width: 22% !important;
        width: 22% !important;
        width: 22% !important;
        width: 22% !important;
        width: 22% !important;
        width: 22% !important;
        width: 22% !important;
        width: 100% !important;*/

        width: initial !important;
        /*width: 100% ;*/
        margin-right: 45% !important;

        min-width: 345px;

        /*margin: 10px 15px 10px 15px !important;
        padding: 10px !important;

        overflow: auto !important;*/

        background-color: transparent !important;
        box-shadow: unset !important;


    }

    .book-cover img {
        width: 88% !important;
    }


    .book-info {
        min-width: 165px !important;

    }

    .outer-book {
        background-color: #f3f3f3;
        border-radius: 10px;
        box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
        overflow: hidden;

        margin-bottom: 10px !important;
    }

    .outer-book {
        background-color: #f3f3f3;
        border-radius: 10px;
        box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
        overflow: hidden;

        margin-bottom: 10px !important;
    }

    /*.book-cover {
        float: left !important;

    }

    div#content {
        padding-right: 15px !important;
    }*/




}

@media only screen and (max-width: 1010px) {

    ul#ul-authors > li > label {
        font-size: 90% !important;
    }

}


@media only screen and (max-width: 685px) {

    div#nav > select {
        /*margin-top: 15px;
        margin-bottom: 15px;
        color: #707070;
        border: 1px ridge #b7b7b7;
        border-radius: 5px;
        padding: 0 5px 0 5px;
        box-sizing: border-box;        */

        width: 100% !important;
    }

    button#sort_button {
        display: none !important;
    }

    input#input-search-nav {
        width: 100% !important;
    }

    #input-search-nav form input[type="submit"] {
        display: none !important;;
    }


}

@media only screen and (max-width: 600px) {

    div#price-range > label input[type="number"] {
        /*margin-top: 15px;
        margin-bottom: 15px;
        color: #707070;
        border: 1px ridge #b7b7b7;
        border-radius: 5px;
        padding: 0 5px 0 5px;
        box-sizing: border-box;        */

        margin-left: 8.5% !important;

        max-width: 50% !important;
        widtH: 50% !important;
        min-width: 20% !important;
        /*min-width: 35px !important;*/
    }

    button#sort_button {
        display: none !important;
    }

}




@media only screen and (max-width: 850px) {

    ul#ul-authors > li > label {
        font-size: 80% !important;
    }

}




















/*!*@media only screen and (max-width: 1050px) {*!
@media only screen and (max-width: 1110px) {

    !* "dodaj do koszyka" - button *!


    .book {
        !* margin: 10px 118px 15px 118px !important;*!

        width: 145px !important;
        !*width: 20% !important;*!
        margin: 10px 15px 15px 10px !important;
        padding: 10px !important;

        !*padding: 25px !important;*!

    }

    .btn-link {
        !* margin: 10px 118px 15px 118px !important;*!



    }

}*/


/*@media only screen and (max-width: 1275px) {

    .book {
        !* margin: 10px 118px 15px 118px !important;*!

        width: 221px !important;
    }

}*/


/*#div-search {
    overflow: auto !important;
}*/

@media only screen and (max-width: 800px) {



    div#div-search {
        width: 100%;

        min-width: 250px;



    }

    div#div-logo {
        display: none;
    }


    #div-search > form#search-form > input#input-search {

                    /*min-width: 165px;*/
        width: calc(100% * 0.87) !important;

    }

    /*div#div-search > form#search-form > input[type="submit"] {
        display: none;
    }*/

    #div-cart-header {
        display: block !important;
        padding-right: 5% !important;
    }

    .div-cart {
        display: none;
    }

    #btn-parent .btn {
        padding-left: 5% !important;
        padding-right: 5% !important;
    }



}

#n-top-header {

    border-bottom: 1px ridge rgba(166, 166, 166, 0.38);
    /*border-radius: 5px;*/

    /*height: 75px;*/

    /*padding: 10px;*/

    padding-bottom: 8px;


}

/* top header buttons  ----------------------------------------------------------------- */



#btn-parent {
    overflow: auto;

/*    min-width: 372px;*/
}

 .btn {
     /*position: relative;*/
     /*padding: 1.4rem 4.2rem;
     padding-right: 3.1rem;*/
     /*font-size: 1.4rem;*/
     /*color: #545454;*/
    /* letter-spacing: 1.1rem;
     text-transform: uppercase;*/

                    transition: all 175ms cubic-bezier(0.77, 0, 0.175, 1);

     cursor: pointer;
                user-select: none;



     position: relative;


     /*width: 155px;*/
     padding: 5px 30px 5px 30px;



     text-align: right;




 }

/*.btn:last-child {
    margin-right: 15px;
}*/

.btn:before, .btn:after {
    content: '';
    position: absolute;
    transition: inherit;
    z-index: -1;

    border-radius: 5px;
}

.btn:hover {
    color: var(--def);

        transition-delay: .125s;
}

.btn:hover:before {
    transition-delay: 0s;
}

.btn:hover:after {
    background: var(--inv);

        transition-delay: .125s;
}

/*!* From Top *!

.from-top:before,
.from-top:after {
  left: 0;
  height: 0;
  width: 100%;
}

.from-top:before {
  bottom: 0;
  border: 1px solid var(--inv);
  border-top: 0;
  border-bottom: 0;
}

.from-top:after {
  top: 0;
  height: 0;
}

.from-top:hover:before,
.from-top:hover:after {
  height: 100%;
}

!* From Left *!

.from-left:before,
.from-left:after {
  top: 0;
  width: 0;
  height: 100%;
}

.from-left:before {
  right: 0;
  border: 1px solid var(--inv);
  border-left: 0;
  border-right: 0;
}

.from-left:after {
  left: 0;
}

.from-left:hover:before,
.from-left:hover:after {
  width: 100%;
}

!* From Right *!

.from-right:before,
.from-right:after {
  top: 0;
  width: 0;
  height: 100%;
}

.from-right:before {
  left: 0;
  border: 1px solid var(--inv);
  border-left: 0;
  border-right: 0;
}

.from-right:after {
  right: 0;
}

.from-right:hover:before,
.from-right:hover:after {
  width: 100%;
}*/

/* From center */

.from-center {
    float: right;

    padding-bottom: 7px;
}

.from-center:before {
    top: 0;
    left: 50%;
    height: 100%;
    width: 0;
    border: 1px solid var(--inv);
    border-left: 0;
    border-right: 0;
}

.from-center:after {
    bottom: 0;
    left: 0;
    height: 0;
    width: 100%;
    background: var(--inv);
}

.btn:hover:before {
    left: 0;
    width: 100%;
}

.btn:hover:after {
    top: 0;
    height: 100%;
}

/*
.from-center {
    top: 130px;    !* pozycja przycisku *!
    left: 310px;
}
*/
/* From Bottom */

/*.from-bottom:before,
.from-bottom:after {
  left: 0;
  height: 0;
  width: 100%;
}

.from-bottom:before {
  top: 0;
  border: 1px solid var(--inv);
  border-top: 0;
  border-bottom: 0;
}

.from-bottom:after {
  bottom: 0;
  height: 0;
}

.from-bottom:hover:before,
.from-bottom:hover:after {
  height: 100%;
}*/


/* ~~~~~~~~~~~~ GLOBAL SETTINGS ~~~~~~~~~~~~ */

*:before, *:after {
    box-sizing: border-box;
}

body {
    /*--def: #96B7C4;*/

    /* display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    /*flex-direction: column;*/
    /* height: 100vh;
     width: 100%;*/
    /*background-image: linear-gradient(-25deg, #616161 0%, #96B7C4 100%);*/
}

/* html {
   font-size: 12px;
   font-family: 'Playfair Display', serif;
 }

 div {margin-bottom: 3rem;}
 div:last-child {margin-bottom: 0;}*/


        /* end header btn -------------------------------------------------------------------------- */

/* top header title  ----------------------------------------------------------------- */

#header-title {
    float: left;
                /* width: 75%; */
    /*width: 250px;*/
                /* border-left: 1px dashed #1a1919; */
    text-align: left;
                /* width: 33.3333%; */
                /* padding-top: 5px; */
    line-height: 29px;
}

        /* end top header -------------------------------------------------------------------------- */

/* middle header --------------------------------------------------------------------------- */

#n-header #search-form {
    margin-top: 10px;

    position: relative;
}

#div-search {
    /*width: 33.33333%*/
    width: calc(100% * 0.4); /* 1/1.5 szerokości rodzica -> #n-header */

/*    border: 1px dashed black;*/

    float: left;

    padding: 5px;



    min-width: 250px;
}

#div-search > form#search-form > input[type="submit"] {
    padding: 8px 32px 8px 2px;
    margin-left: 8px;

    border: 1px solid #a9a9a9;
    border-radius: 2px;

    /* Add search icon as background image */
    background-image: url('../assets/search-icon.png');
    background-repeat: no-repeat;
    background-position: right 10px top 8px;
    background-size: 16px;
   /* padding-right: 32px;*/




}

#div-search > form#search-form > input[type="submit"]:hover {

    border-color: #4b4b4b;
    background-color: #f3f3f3;
    cursor: pointer;
    /* Add search icon as background image */
    /* background-image: url('../assets/search-icon.png');*/
    /*    background-repeat: no-repeat;
        background-position: right 8px center;
        background-size: 16px;*/
    /*padding-right: 32px;*/


    -webkit-box-shadow: inset 0px 0px 13px -10px rgba(66, 68, 90, 1);
    -moz-box-shadow: inset 0px 0px 13px -10px rgba(66, 68, 90, 1);
    box-shadow: inset 0px 0px 13px -10px rgba(66, 68, 90, 1);

}

#div-search > form#search-form > input#input-search {

        min-width: 165px;
        width: calc(100% * 0.75);


        /*background-color: rgb(255, 255, 255);*/
        color: #707070;
    border: 1px ridge #b7b7b7;
    border-radius: 5px;
    /*font-size: 20px;*/
    font-weight: bold;
    padding: 8px;
    box-sizing: border-box;
    outline: none;
    margin-top: 10px;

    /*transition: all 0.125s ease-in-out;*/

}

#div-search > form#search-form > input#input-search:focus,
#div-search > form#search-form > input#input-search:hover

{
/*    -webkit-box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
    -moz-box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
    box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);*/

/*    border: 1px ridge #a2bbcb;
    background-color: #f1f6ff;
    color: #464646;*/
    cursor: pointer;

    -webkit-box-shadow: inset 0px 0px 13px -10px rgba(66, 68, 90, 1);
    -moz-box-shadow: inset 0px 0px 13px -10px rgba(66, 68, 90, 1);
    box-shadow: inset 0px 0px 13px -10px rgba(66, 68, 90, 1);
}




#div-logo {
    float: left;
    width: calc(100% / 3);
    text-align: center;
    /* line-height: 710px; */
    /*padding-top: 15px;*/
/*    border: 1px dashed black;*/



}



#n-header #div-logo img {
    margin-top: 26px;

    max-width: 250px;


}

.div-cart, #div-cart-header {
    float: right;
    /*width: calc(100% *0.2);*/
    text-align: right;
    /* padding-left: 10px; */
    /* padding-right: 10px; */
    line-height: 29px;

    padding-right: 30px;
}

.div-cart {
    margin-top: 24px;
}

#div-cart-header {
    display: none;
}



                        /* end middle header ----------------------------------------------------------------------- */

                        /* end header ------------------------------------------------------------------------------ */

/* top-nav (menu)     ------------------------------------------------------------------------------ */

#n-top-nav { /* div */
   /* min-height: 125px;*/

    margin: 0 auto 0 auto;
    width: 1375px;


        background-color: #ffffff;
        border-bottom:  1px ridge rgba(166, 166, 166, 0.38);

   /* overflow: auto;
    padding-bottom: 2px;*/

    position: relative;
    z-index: 90 !important;

    border-left: 1px ridge rgba(166, 166, 166, 0.38);;
    border-right: 1px ridge rgba(166, 166, 166, 0.38);;

    /*border-top: 1px ridge rgba(166, 166, 166, 0.38);*/

    box-sizing: border-box;



    /*overflow: auto;
    height: 275px;*/
}


#n-top-nav-content {
    /*width: 1000px;*/
   /* height: 35px;
    margin-left: auto;
    margin-right: auto;*/

    text-align: center;

    /*overflow: hidden;
    padding-left: 14px;*/


    /*padding-right: 15px;*/
           /* border-left: 1px ridge black;
            border-right: 1px ridge black;*/


   /* overflow: auto;
    height: 275px;*/


/*    -webkit-box-shadow: -11px 5px 22px -14px rgba(66, 68, 90, 1);
    -moz-box-shadow: -11px 5px 22px -14px rgba(66, 68, 90, 1);
    box-shadow: -11px 5px 22px -14px rgba(66, 68, 90, 1);*/

    min-height: 36px;
}

#n-top-nav-content ol {
    padding: 0;
    margin: 0;
    list-style-type: none;
    /* font-size: 18px; */
    /* display: inline-block; */
    height: 35px;
    line-height: 200%;
    float: left;
    text-align: center;
}

#n-top-nav-content ol li {
    float: left;
    width: 125px;
    height: 36px;
    /*transition: all 175ms cubic-bezier(0.77, 0, 0.175, 1);*/

    border-right: 1px ridge rgba(166, 166, 166, 0.38);
}

#n-top-nav-content ol > li:nth-child(3),
#n-top-nav-content ol > li:nth-child(3) a {

    width: 250px !important;
}




#n-top-nav-content ol li a {
    color: #333333;
    text-decoration: none;
    display: block;
    height: 36px;
}

#n-top-nav-content ol li ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 40px;
    display: none;


}

#n-top-nav-content ol li ul li {
    background-color: #f3f3f3;
    position: relative;
    z-index: 100;
    border-top: 1px ridge rgba(166, 166, 166, 0.38);
    /*box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);*/




}

#n-top-nav-content ol li.btn, #n-top-nav-content ol li.from-center {

    padding: 0;
    text-align: center;

}








#n-top-nav ol a
{
    color: #8d8d8d;
    text-decoration: none;
    display: block;

    height: 36px;
}

#n-top-nav ol > li:hover
{
    /*background-color: #959a9c;*/


}

#n-top-nav ol > li:hover > a
{
    /*color: #797979;*/
}

#n-top-nav ol > li:hover > ul
{
    display: block !important;



}

#n-top-nav ol > li:nth-child(3):hover > ul
{
    display: none !important;



}


#n-top-nav ol > li > ul > li:hover
{
    background-color: #e0ebff;
}

#n-top-nav ol > li > ul > li:hover > a
{
    color: #6e6e6e;
}

                /* end top-nav ------------------------------------------------------------------------------------------------------- */



/* container ------------------------------------------------------------------------------------------------------- */

#container {

    height: 1200px;
               /* border: 1px dashed black;
                border-top: none;
                border-left: none;
                border-right: none;*/
    /*border-radius: 5px;*/
             /* position: relative; */

    margin: 0 auto 0 auto;

    /*-webkit-box-shadow: 0px 0px 26px -14px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 0px 26px -14px rgba(66, 68, 90, 1);
    box-shadow: 0px 0px 26px -14px rgba(66, 68, 90, 1);*/

    background-color: white;

    border-left: 1px ridge rgba(166, 166, 166, 0.38);
    border-right: 1px ridge rgba(166, 166, 166, 0.38);

   /* border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;*/

    box-sizing: border-box;

    overflow: auto;

   /* border-left: 1px solid black;*/
}

footer {

    width: 1200px;
    margin: 0 auto;
}

#footer {
       /* float: left;
        width: 100%;*/
    height: 65px;
        /*border-right: 1px dashed black;
        border-bottom: 1px dashed black;*/
    background-color: white;
    padding: 15px;
            /*color: white;*/
    /*margin-bottom: 150px;*/
    text-align: center;
    border-left: 1px ridge rgba(166, 166, 166, 0.38);
    border-right: 1px ridge rgba(166, 166, 166, 0.38);

    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;

    box-sizing: border-box;

    /* czy poniższe dwie linie moga rozwiązać problem ze zmianą pozycji <li> w top-nav dla małych szerokosci (?) */
    overflow: hidden;
    white-space: nowrap; /* (!) */
}





#all-container {
                /*overflow: auto;*/
    /*width: 1200px;*/
    width: 1375px;
    margin: 10px auto 0 auto;

    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;

     -webkit-box-shadow: 0px 0px 26px -14px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 0px 26px -14px rgba(66, 68, 90, 1);
    box-shadow: 0px 0px 26px -14px rgba(66, 68, 90, 1);

}

/*main {
    width: 1200px;
    overflow: auto;
}*/






















/* kategoria=Wszystkie - strona z kategoriami -->  ------------------------------------------------------------------------------------------------------- */

div#nav {
    /*overflow: auto;*/

    float: left;
    width: 25%;
    border-right: 1px dashed black;
    border-bottom: 1px dashed black;
    background-color: #f3f3f3;
    padding: 15px;
    height: 1000px;
    display: none;

}

h3 {
    font-size: 1rem;
}

div#nav > h3:first-child { /* kategoria -> "Wszystkie" */
    margin-top: 15px;
    margin-bottom: 0;
    padding-bottom: 15px;
    border-bottom: 1px ridge rgba(166, 166, 166, 0.38);
}

div#nav > h3:nth-child(2) { /* "Sortowanie" */
    margin-top: 15px;
    margin-bottom: 0;
    /*padding-bottom: 15px;
    border-bottom: 1px ridge rgba(166, 166, 166, 0.38);*/
}

div#nav > h3:nth-of-type(3) { /* "Cena" */
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 15px;
    padding-top: 15px;
    border-top: 1px ridge rgba(166, 166, 166, 0.38);

}

div#nav > select:hover,
div#nav > select:focus {
    cursor: pointer;

    -webkit-box-shadow: inset 0px 0px 13px -10px rgba(66, 68, 90, 1);
    -moz-box-shadow: inset 0px 0px 13px -10px rgba(66, 68, 90, 1);
    box-shadow: inset 0px 0px 13px -10px rgba(66, 68, 90, 1);
}

div#nav > select {
    margin-top: 15px;
    margin-bottom: 15px;



    /* background-color: rgb(255, 255, 255); */
    color: #707070;
    border: 1px ridge #b7b7b7;
        border-radius: 5px;
        /* font-size: 20px; */
    /*font-weight: bold;*/

        padding: 0 5px 0 5px;
    box-sizing: border-box;
    /*outline: none;*/
    /*margin-top: 10px;*/
   /* transition: all 0.125s ease-in-out;*/

    width: 50%;

}

button#sort_button {


    border: 1px solid #a9a9a9;
    border-radius: 2px;

    margin-left: 8px;

    color: #424242;


}

button#sort_button:hover {

    background-color: #f3f3f3;
    cursor: pointer;
    /* background-image: url('../assets/search-icon.png'); */
    /* padding-right: 32px; */
    -webkit-box-shadow: inset 0px 0px 8px -6px rgba(66, 68, 90, 1);
    -moz-box-shadow: inset 0px 0px 8px -6px rgba(66, 68, 90, 1);
    box-shadow: inset 0px 0px 8px -6px rgba(66, 68, 90, 1);
}



div#price-range {
    border-bottom: 1px ridge rgba(166, 166, 166, 0.38);
    padding-bottom: 7px;

    overflow: auto;
}

div#price-range > label {
    width: 100% !important;
    float: left;
    margin-bottom: 8px;
}

div#price-range > label > span {
    display: block;
    float: left;
    width: 35px;
}


div#price-range > label input[type="number"] {

    max-width: 60px;
    /*float: right;*/

    /*margin-right: 190px;*/

    margin-left: 10px;

    padding-top: 0;
    padding-bottom: 0;

    margin-top: 1px;


    position: relative;
    top: -1px;

    color: #707070;
    border: 1px ridge #b7b7b7;
    border-radius: 5px;

    box-sizing: border-box;
}

div#price-range > label input[type="number"]:hover,
div#price-range > label input[type="number"]:focus {
    cursor: pointer;
    -webkit-box-shadow: inset 0px 0px 13px -10px rgba(66, 68, 90, 1);
    -moz-box-shadow: inset 0px 0px 13px -10px rgba(66, 68, 90, 1);
    box-shadow: inset 0px 0px 13px -10px rgba(66, 68, 90, 1);

    color: #707070;
    border: 1px ridge #b7b7b7;
    border-radius: 5px;
    /* padding: 8px;*/
    box-sizing: border-box;
    outline: none;
    /* margin-top: 10px;*/
    /*transition: all 0.125s ease-in-out;*/
    width: 50%;
}









#input-search-nav h3 { /* "Tytuł" */
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 15px;
    padding-top: 15px;
    /*border-top: 1px ridge rgba(166, 166, 166, 0.38);*/




}

div#input-search-nav form > input[type="search"] {

    color: #707070;
    border: 1px ridge #b7b7b7;
    border-radius: 5px;


   /* padding: 8px;*/
    box-sizing: border-box;
    outline: none;
    /* margin-top: 10px;*/
    /*transition: all 0.125s ease-in-out;*/

    width: 50%;
}

div#input-search-nav form > input[type="search"]:hover,
div#input-search-nav form > input[type="search"]:focus
{
    cursor: pointer;
    -webkit-box-shadow: inset 0px 0px 13px -10px rgba(66, 68, 90, 1);
    -moz-box-shadow: inset 0px 0px 13px -10px rgba(66, 68, 90, 1);
    box-shadow: inset 0px 0px 13px -10px rgba(66, 68, 90, 1);
}

div#input-search-nav form > input[type="search"] {




    /*background-color: rgb(255, 255, 255);*/
    color: #707070;
    border: 1px ridge #b7b7b7;
    border-radius: 5px;
    /*font-size: 20px;*/
    /*font-weight: 700;*/
    padding: 1px 8px;
    box-sizing: border-box;



}




div#input-search-nav form > input[type="submit"] {
   /* padding: 8px 32px 8px 2px;*/
    margin-left: 8px;
    border: 1px solid #a9a9a9;
    border-radius: 2px;

    color: #424242;

   /* background-image: url('../assets/search-icon.png');
    background-repeat: no-repeat;
    background-position: right 10px top 8px;
    background-size: 16px;*/


}

div#input-search-nav form > input[type="submit"]:hover {

    /*border-color: #4b4b4b;*/
    background-color: #f3f3f3;
    cursor: pointer;
    /* Add search icon as background image */
    /* background-image: url('../assets/search-icon.png');*/
    /*    background-repeat: no-repeat;
        background-position: right 8px center;
        background-size: 16px;*/
    /*padding-right: 32px;*/


    -webkit-box-shadow: inset 0px 0px 13px -10px rgba(66, 68, 90, 1);
    -moz-box-shadow: inset 0px 0px 13px -10px rgba(66, 68, 90, 1);
    box-shadow: inset 0px 0px 13px -10px rgba(66, 68, 90, 1);

}































div#nav > h3:nth-of-type(4) { /* "Autorzy" */

    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 15px;

    border-top: 1px ridge rgba(166, 166, 166, 0.38);

    border-bottom: 1px ridge rgba(166, 166, 166, 0.38);

    /*color: blue;*/



}

ul#ul-authors  {
    list-style-type: none;
    padding-left: 0;

    height: 125px;
    overflow-y: scroll;

    /*border-top: 1px ridge rgba(166, 166, 166, 0.38);*/
}

ul#ul-authors::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
}

ul#ul-authors::-webkit-scrollbar-track {
    background: #c9c9c9;        /* color of the tracking area */
    border-radius: 10px;
}

ul#ul-authors::-webkit-scrollbar-thumb {
    background: #727272;     /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    /*border: 3px solid orange;*/  /* creates padding around scroll thumb */
}

ul#ul-authors > li > label > input {

    margin-right: 10px;



    position: relative;
    top: 2px

}

ul#ul-authors > li > label  {

   line-height: 125%;

    cursor: pointer;

}



.nav-visible {
    display: block !important;
    width: 25% !important;
}

div#content {
    float: left;
    width: 1000px;
    height: 1000px;
    /* background-color: #e6e6e6; */
    /*background-color: #cecece;*/
    background-color: #fafafa;
    /*color: #ffffff;*/
    padding: 15px 0 15px 15px;
    /* border-bottom: 1px dashed black; */
   /* overflow: auto;*/

    width: 75% !important; /* 75% szerokości rodzica -> #container */
    /* class="content-short" */
}

div#content-books {
    position: relative;
}

.book {
    display: flex;
    /*display: inline-block;*/

    flex-direction: column;
    /*background-color: #cbcbcb;*/
    /*border-radius: 5px;*/
   /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);*/
    /*margin: 1rem;*/
    transition: transform 0.2s ease-in-out;
}

.book {
    background-color: #f3f3f3;

    float: left;
                /* width: 180px; */
    width: 221px;

    margin: 10px 15px 75px 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    transition: all 0.05s ease-in-out;

   /* position: relative;*/
}






































.book:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    background-color: rgb(199, 216, 227);
}






.book-cover {
    /*position: relative;
    height: 0;
    padding-bottom: 150%;*/
    overflow: hidden;
    float: left;
}

.book-cover img {
    /*position: absolute;
    top: 0;
    left: 0;
    width: 70%;
    height: 100%;
    object-fit: cover;

    border-radius: 5px;*/


    /*position: absolute;
    top: 0;
    left: 0;*/

    /*margin: 0 auto;*/

    width: 88%;

    margin-top: 2px;

}

.book-cover > a {
    margin: 0 auto;
    display: block;
    width: 100%;

    text-align: center;
}

.book-info {
    /* padding: 1rem; */
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    /*position: relative;
    top: -40px;*/
}

.book-title {
    margin: 8px 0 0 0;
    font-size: 0.9rem;

    overflow: hidden;
    max-height: 17px;




   /* position: relative;
    top: 0;
    left: 0;*/
}

/*.book:hover .book-title {



    max-height: 34px;




    position: relative;
    top: 0;
    left: 0;

    z-index: 200 !important;
}*/


.book-price {
    font-weight: bold;
    font-size: 0.9rem;

    margin-top: 2px;

    /*z-index: 1 !important;*/
}

/*.book:hover .book-price,
.book:hover .book-year,
.book:hover .book-author,
.book:hover .btn-link
{
    position: relative;
    top: -17px;
}*/


.book-author {
    color: #666;
    margin-bottom: 10px;
    margin-top: 2px;
}

.book-year {
    margin-top: 2px;
}

.book-rating {
    display: flex;
    align-items: center;
}


/*<!-- HTML !-->
<button class="button-22" role="button">Button 22</button>*/

.btn-link { /* form acion "dodaj do koszyka" - button */

    /*border: none;
    outline: none;
    background: none;
    cursor: pointer;
    color: #0000EE;
    padding: 0;
    text-decoration: underline;
    font-family: inherit;
    font-size: inherit;*/

    align-items: center;
    /*appearance: button;*/
    background-color: #5478c0;
    border-radius: 8px;
    border-style: none;
    box-shadow: rgba(255, 255, 255, 0.26) 0 1px 2px inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    font-family: "RM Neue",sans-serif;
    /*font-size: 100%;*/
    line-height: 1.15;
    margin: 0 0 5px 0;
    padding: 10px 21px;
    text-align: center;
    text-transform: uppercase;
    transition: color .13s ease-in-out,background .13s ease-in-out,opacity .13s ease-in-out,box-shadow .13s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;







}

/* CSS */


.btn-link:active {
    /*background-color: #006AE8;*/

    background-color: #698bbb;




}

.btn-link:hover {
    /*background-color: #1C84FF;*/

    background-color: #698bbb;
}


#nav * {
    border: 1px dashed rgba(122, 122, 122, 0.2);
    box-sizing: border-box;
}



















