.sticky {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3000;
    width: 100% !important;
}

.stickyContainer {
    position: relative;
    top: 37px;
}

div.sticky-adv-search {
    position: initial !important;
    margin: 0 auto;
}