body
{
	background-color: #d4d4d4;
	//color: white;	

	margin-top: 0px;
	font-family:  Arial;

}

a:visited
{
	//color: white;
}

a:hover
{
	color: blue;
}

*
{
	box-sizing: border-box;
}

/*#header_content
{
	width:  1000px;
	margin-left: auto;
	margin-right: auto;
}*/

#header-container
{
	margin-top: 0px;
}

#test-div
{	
	width:  225px;
	height:  145px;

	background-color: lightblue;

	position: absolute;
	top: 36px;
	display: none;
	z-index:  20;
}

#top-nav ol > li:first-child:hover > #test-div
{
	display: block;
}




#container
{	
	width: 1000px;	
	height: 4500px;
	border: 1px dashed black;
	border-top:  none;
	border-left:  none;
	border-right:  none;
	border-radius: 5px;	
		//position: relative;	
	margin-left: auto;
	margin-right: auto;	

	position: relative;
	top: 30px;

	box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

#top-header
{	
	width: 100%;
	height: 30px;
	border-bottom: 1px dashed black;	

	background-color: #575757;

	//padding: 5px 15px 5px 15px;

	color: white;

	position: fixed;
	z-index: 10;

	left: 0;
	right: 0;
	top: 0;
}

#top-header-content
{
	width:  1000px;
	height:  30px;
	margin-left: auto;
	margin-right: auto;

	border-left:  1px dashed black;
	border-right:  1px dashed black;

	padding-left: 15px;
	//padding-right: 15px;
	//padding-top: 5px;

	//line-height: 200%;


}

#top-header a
{
	color: white;
	text-decoration: none;

	line-height:  30px;

}

#top-header a:hover
{
	color: #d2ecf7;
}

/* //////////////////////////////////////////////////////////////////////////////////////////// */

#top-header ol
{
	padding: 0;
	margin: 0;
	list-style-type: none;
	//font-size: 18px;
	height: 30px;
	//line-height: 200%;
		//display: inline-block;  
  
  //position: relative;
	//left:  15px;

	float: right;
	text-align: right;

}


#top-header ol > li /* bezpośrednie dzieci */
{
	float: left;
	//width: 125px;
	height: 30px;
	border-right: 1px dashed #1a1919;

	padding-right: 15px;
	padding-left: 15px;
	//padding-top: 5px;

	position: relative;
}

#top-header ol > li:first-child
{
	border-left: 1px dashed #1a1919;	
}

#top-header ol > li:last-child
{
	border-right: none;	
}

#top-header ol > li:hover
{
	background-color: #7e7f80;
}

#top-header ol > li:hover > a
{
	color: #454444;
}

/*#top_header ol > li > #double
{
	width: 350px;
  //height: 500px;
  margin-bottom:20px;  
  border-top: 1px solid #ccc;
	list-style-type: none;
	padding: 0;
	margin: 0;	
	
	visibility: hidden;
}*/

/*#top_header ol > li:hover > #double
{	
	visibility:  visible;	
	//height: 500px;
}*/

#top-header ol > li > ul > li
{
	background-color: #7e7f80;
	position: relative;
	//z-index: 100;
	border-top: 1px dashed #404040;
}

#top-header ol > li > ul > li:hover
{
	background-color: #686869;
}

#top-header ol > li > ul > li:hover > a
{
	color: #474747;
}

/* //////////////////////////////////////////////////////////////////////////////////////////// */

#header
{
	width: 100%;
	/*height: 70px;	*/
	border-bottom: 1px dashed black;	

	background-color: #dedede;	

	/*padding: 15px;*/
	position: relative;
	top: 30px;

	/*z-index: 0;*/

}

#header-content
{
	width:  1000px;
	height:  70px;
	margin-left: auto;
	margin-right: auto;

	padding-left: 15px;
	padding-right: 15px;

	//padding-top: 15px;

}

#div-search
{
	float: left;
	width: 33.3333%;

	line-height: 70px;
}

#div-logo
{
  float: left;  
	width: 33.3333%;
	text-align: center;
	//line-height: 710px;

	padding-top: 15px;

} 

#div-logo img
{
	width: 185px; 
	height: auto;
}

#header-title
{
	float: left;  
		//width: 75%;
	width:  250px;

  //border-left: 1px dashed #1a1919;
  text-align: left;
  //width: 33.3333%;

  //padding-top: 5px;
  line-height: 30px;

}

/*#div_log_in
{  
	float:  right;
	width:  100px;

	text-align: right;

	position: relative;
	right: 0px;
} */

/*#div_register
{  
	float:  left;
	width:  12.5%;
	text-align: center;
} */


#div-cart
{
	float:  left;	
	width: 33.3333%;
	text-align: right;
	//padding-left: 10px;
	//padding-right: 10px;

	line-height: 70px;


}

#div-cart a
{
	color: #575757;
	text-decoration: none;
}

#div-cart a:hover
{
	//color: #d2ecf7;
	opacity: 0.6;
}

#div_my_account
{
	float:  right;
	display: inline-block;

	padding-left: 10px;
	padding-right: 10px;
} 

#top-nav
{ 
		/*width: 100%;
		  height: 60px;
	    padding: 10px 0; */
	background-color: #676a6b;
	
	border-bottom:  1px dashed black;
	/*overflow: hidden;*/

	position: relative;
	top: 30px;

	/*z-index: 0;*/
}

#top-nav-content
{
	width:  1000px;
	height: 35px;
	margin-left:  auto;
	margin-right:  auto;

	text-align: center;		

	//padding-left: 15px;
	padding-right: 15px;

	border-left: 1px dashed black;


}

/* //////////////////////////////////////////////////////////////////////////////////////////// */


	/*#double
	{
	  width: 350px;
	  height: 500px;
	  margin-bottom:20px;
	  overflow:hidden;
	  border-top:1px solid #ccc;
	}*/

.double /* <li> - Element listy rozwijanej - (poszczególne kategorie) */
{
  line-height: 1.5em;
  border-bottom: 1px solid #ccc;
  float: left;
  display: inline;
}

#double li  { width:50%;} 
#triple li  { width:33.333%; } 
#quad li    { width:25%; } 
#six li     { width:16.666%; }

/* //////////////////////////////////////////////////////////////////////////////////////////// */

/*#top_nav ol 
{
	padding: 0;
	margin: 0;
	list-style-type: none;
	font-size: 18px;
	height: 35px;
	//line-height: 200%;
		//display: inline-block;  
  position: relative;
		//left:  15px;
} */

#top-nav ol
{
	padding: 0;
	margin: 0;
	list-style-type: none;
		//font-size: 18px;
	height: 35px;
	line-height: 200%;
		//display: inline-block;
	float: left;

	text-align: center;
}

#top-nav ol a
{
	color: #ffffff;
	text-decoration: none;
	display: block;

	height: 36px;
}

#top-nav ol > li
{
	float: left;
	width: 125px;
	height: 36px;
	border-right: 1px dashed black;
}

#top-nav ol > li:first-child
{
	//border-left: 1px dashed black;
}

#top-nav ol > li:hover
{
	background-color: #959a9c;
}

#top-nav ol > li:hover > a
{
	color: black;
}

#top-nav ol > li > ul
{
	list-style-type: none;
	padding: 0;
	margin: 0;
	height: 40px;
	display: none;
}

#top-nav ol > li:hover > ul
{
	display: block;
}

#top-nav ol > li > ul > li
{
	background-color: #7caabf;
	position: relative;
	z-index: 100;
	border-top: 1px dashed black;
	box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

#top-nav ol > li > ul > li:hover
{
	background-color: #5d7f8f;
}

#top-nav ol > li > ul > li:hover > a
{
	color: black;
}
/* //////////////////////////////////////////////////////////////////////////////////////////// */

#nav
{
	float:left;	
	width: 20%;	
	border-right:  1px dashed black;
	border-bottom:  1px dashed black;
	background-color: #7caabf;
	padding:  15px;
	height: 1980px; 
	display:  none;
}

#content
{
	float:left;
	width:  1000px;
	height: 4500px;
	background-color: #e6e6e6;
	//border-bottom:  1px dashed black;	
	padding:  15px;
	//overflow: scroll;
}

#footer
{	
	float:left;	
	width: 100%;
	height: 50px;
	border-right:  1px dashed black;
	border-bottom:  1px dashed black;	
	background-color: #6d6fb3;
	padding:  15px;
}

.error
{
	color: red;
	margin: 10px 0px 10px 0px;
}

.title, .price, .year, .quantity
{
	float:  left;
	margin-right: 5px;
	max-width: 250px;
	display: inline-block;
}

/* //////////////////////////////////////////////////////////////////////////////////////////// */
/* sticky navbar */

.sticky 
{
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + #content 
{
  padding-top: 60px;
}

/* //////////////////////////////////////////////////////////////////////////////////////////// */

#content_books
{
	/*padding-top: 15px;*/
}

.book
{
	background-color: lightblue;

	//display: inline-block;
	float: left;

	width: 180px;
	height: 220px;
	margin: 10px;

	padding: 10px;
	
}

/* //////////////////////////////////////////////////////////////////////////////////////////// */
/* account.php */

.dane_konta
{
	border: 1px solid grey;
	float: left;
	padding: 15px;
	margin-top: 10px;
	width: 100%;
}

.edit_data_container
{
	float: left;
}

#edit_data_left
{
	width: 100px;
	float: left;

}

#edit_data_right
{
	//width: 200px;
	float: left;
}

.edit_data_left, .edit_data_right
{
	margin-top: 10px;
	margin-bottom: 10px;
	height: 25px;
}

#edit_data_button
{
	text-align: right;
}

#edit_content
{
	padding-top: 15px;
}

