<!-- template used on main page (index.php) to display category list -->

<li>
    <form method="post" action="index.php">
        <input type="hidden" name="kategoria" value="{{ category_name }}">
        <button class="submit-book-form" type="submit">{{ category_name }}</button>
    </form>
</li>
